@{
    ViewBag.Title = "Core Vaules";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Here are Centric's Core Values.
    <section>
        Stewartship - Practice  Responsible Stewardship
    </section>
            <aside>
                Culture - Invest in an Exceptional Culture
            </aside>
            <aside>
                Delivery Excellence - Commit to Delivery Excellence
            </aside>
            <aside>
                Innovation - Strive to Innovate
            </aside>
            <aside>
                Greater Good - Ignite Passion for the Greater Good
            </aside>
            <aside>
                Integrity and Openness - Embrace Integrity and Openness
            </aside>
            <aside>
                Balance -  Live a Balanced Life
            </aside>

</p>

