@{
    ViewBag.Title = "Centric";
}

<div class="jumbotron">
    <h1>Centric Team 3</h1>
    <p class="lead">Centric Team 3: Ohio University Sprint Project
    </p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
           Centric Consulting strives to create an unmatched experience for employees and clients. Our core values shape
           our company culture, drive the decisions that are made, and contribute to our success.

            We deliver that unmatched feeling by:
            <ul>
                <li>Always be willing to help</li>
                <li>Treating clients like friends - because that's what you become</li>
                <li>Doing what it takes - together</li>
                <li>Putting you first</li>
            </ul>
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Employee Profile</h2>
        <p>
            Doing great delivery is table stakes in our mind. At Centric, we value our employees and make sure we recruit the top talent. We believe that they implement exceptional service by
            providing great discipline, relationship building and people skills, and are extremely flexible. We provide an unmatched experience
            to go above and beyond to create benefical relationships.
            <br />
            <br />
            Located below is a link to our valuable employees that we would like you to meet.
        </p>
        <br /> @Html.ActionLink("Profile", "Index", "Profiles")
        <br /> @Html.ActionLink("Recognition", "Index", "Recognitions")
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p>
            FOLLOW US
            <br />
        <p><a class="btn btn-primary" href="https://www.facebook.com/CentricConsultingNational/">Facebook &raquo;</a></p>
        <p><a class="btn btn-primary" href="https://twitter.com/centric?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter &raquo;</a></p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/company/centric-consulting">LinkedIn &raquo;</a></p>
        <p><a class="btn btn-primary" href="https://www.instagram.com/centricconsulting/">Instagram &raquo;</a></p>
        <p><a class="btn btn-primary" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">YouTube &raquo;</a></p>

    </div>
</div>